.work16 p{
   font-weight: bolder;
   

}
.work17{
   color:blue;
   font-weight: bolder;
}
.work18{
   color: bisque;
}
.work19{
   background-color: rgb(216, 211, 211);
   margin-top: 20px;
   margin-left: 95px;
   border-radius: 5px;
}